.invalid-input {
  border-color: #dc3545;
  background-color: #dc3545;
}

.invalid-input.form-control::-moz-placeholder {
  color: #e8e8e8;
}

.invalid-input.form-control:-ms-input-placeholder {
  color: #e8e8e8;
}

.invalid-input.form-control::-webkit-input-placeholder {
  color: #e8e8e8;
}
