.item {
  height: 30px;
  background-color: gray;
  border-radius: 30px;
  min-width: 50px;
  display: flex;
  margin: 4px;
  user-select: none;
  line-height: 28px;
}

.item:hover {
  background-color: darkgrey;
}

.item .item-type {
  border-radius: 30px;
  background-color: #17a2b8;
  height: 30px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.item .item-value {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.item .item-close {
  border-radius: 30px;
  background-color: gray;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
}

.item .item-close:hover {
  background-color: #28a745;
}
