<table class="table table-responsive-sm table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" width="100">Actions</th>
      <th scope="col">Faction</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let faction of this.watchedFactions; let index = index" [ngClass]="{'table-row-selected':index === this.selectedIndex}">
      <td>
        <i class="fa fa-cog fa-4x" aria-hidden="true" (click)="select(faction, index)" data-toggle="modal" data-target="#watchedElementModal"></i>
      </td>
      <td>
        <h5>{{faction.name}}</h5>
        <h6 *ngIf="faction.alwaysDisplay">
          Always displayed
        </h6>
        <div class="row justify-content-center">
          <app-watched-summary-item *ngFor="let tag of faction.tags"
                                    [value]="tag">

          </app-watched-summary-item>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<app-modal [watchedElement]="selectedElement"
           (modificationRequested)="watchedFactionModificationRequested($event)" (removalRequested)="watchedFactionRemovalRequested($event)">
</app-modal>
