<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th scope="col" width="200">Actions</th>
      <th scope="col">Name</th>
      <th scope="col">Watched tags</th>
      <th scope="col">Display mode</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let faction of this.watchedFactions; let index = index" [ngClass]="{'table-row-selected':index === this.selectedIndex}">
      <td>
        <button type="submit" class="btn btn-outline-secondary" (click)="modify(faction, index)">Modify</button>&nbsp;
        <button type="submit" class="btn btn-outline-danger" (click)="remove(faction, index)">Remove</button>
      </td>
      <td>{{faction.name}}</td>
      <td>
        <div *ngFor="let tag of faction.tags">{{tag}}</div>
      </td>
      <td>
        <div *ngIf="faction.alwaysDisplay">
          Always displayed
        </div>
      </td>
    </tr>
  </tbody>
</table>
