.table td, .table th {
  text-align: center;
}

.table td i:hover {
  color:green;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.09);
}

.table-row-selected {
  background-color: #28a745 !important;
  color: #303030 !important;
}
