<div class="jumbotron">
  <h1 class="display-4">kuBot configuration utility is live!</h1>
  <p class="lead">This website was designed to help you configure kuBot. kuBot is a discord bot used to report activity on discoverygc server.</p>

  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Status</div>
    <div class="card-body">
      <h6 class="card-title">Current deployments</h6>
      <p class="card-text">Active in {{guildsCount}} guilds.</p>
    </div>
  </div>
  <hr class="my-4">
  <h4>Bots features</h4>
  <ul>
    <li>Watch targets definition using tags (factions) and regions (systems).</li>
    <li>Scan command : display activity depending on the watch lists configured - factions, regions and players.</li>
    <li>Activity warnings.</li>
    <li>Embed messages utilities.</li>
  </ul>
  <hr class="my-4">
  <h4>How to add this bot to my guild?</h4>
  <p>Easy! You can use this link: <a href="https://discordapp.com/oauth2/authorize?client_id=385798675533660160&permissions=8&scope=bot" target="_blank">Bot invite</a>.</p>
  <p>Create a temporary "admin" text channel to configure the bot.</p>
  <p>You can then use the <span class="command">!config</span> command in that newly created "admin" channel to generate credentials for this website.</p>
  <hr class="my-4">
  <p>Do you have questions or feedback ?</p>
  <a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn more</a>
</div>
